<ion-header>
  <ion-toolbar>
      <ion-buttons slot="start">
          <ion-menu-button></ion-menu-button>
        </ion-buttons>
    <ion-title>Resumen de Ventas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-label>Ventas</ion-label>
      </ion-card-title>
      <ion-card-subtitle>
          <ion-label>Seleccione un usuario para consultar las ventas</ion-label>
        </ion-card-subtitle>      
    </ion-card-header>
    <ion-card-content>
      <ion-item>
        <ion-label position="floating">Usuario</ion-label>
        <ion-select placeholder="Seleccione uno" (ionChange)="selectedUser($event)">
          <ion-select-option *ngFor="let user of users" value="{{user.id_usuario}}">{{user.nombre + user.apellido}}</ion-select-option>
        </ion-select>
      </ion-item>
      <ion-list *ngFor="let product of products">
        <ion-item>
          <ion-avatar slot="start">
            <img src="{{product.image}}">
          </ion-avatar>
          <ion-label>
            <h2>{{product.nombre}}</h2>
            <p>
              Disponibles: {{product.cantidad - product.cantidad_vendidos}}
              Vendidos: {{product.cantidad_vendidos}}
            </p>
            <h2>Total: {{product.cantidad_vendidos * product.precio | currency}}</h2>
          </ion-label>
        </ion-item>
      </ion-list>
      <ion-item *ngIf="total">
        <ion-label slot="start">Vendido:</ion-label>
        <ion-label >{{total | currency}}</ion-label>
      </ion-item>
    </ion-card-content>
  </ion-card>
</ion-content>
