<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Almacen</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card>
    <ion-card-header>
      <ion-card-title>
        <ion-label>Productos en el Almacen</ion-label>
      </ion-card-title>
      <ion-card-subtitle>
        <ion-label>Puede modificar todos los aspectos de los productos presentados o agregar nuevos si lo desea</ion-label>
      </ion-card-subtitle>
    </ion-card-header>
    <ion-card-content>
      <ion-list *ngFor="let product of products">
        <ion-item (click)="openOptions(product)" [ngStyle]="{'color': product.habilitado === 1 ? '':'red'} ">
          <ion-avatar slot="start">
            <img src="{{product.image}}">
          </ion-avatar>
          <ion-label>
              <h2>Producto: {{product.nombre}}</h2>
              <p [ngStyle]="{'color': product.habilitado === 1 ? '':'red'} ">
                Disponibles: {{product.cantidad}}
                Habilitado: {{product.habilitado == 1 ? 'SI':'NO'}}
              </p>
            </ion-label>
        </ion-item>
      </ion-list>
    </ion-card-content>
  </ion-card>
</ion-content>